<div class="search--profile">
  <i class="fa-light fa-user search--profile-icon"></i>
  <h2 class="search--name">Name</h2>
  <h2 class="search--profession">Lawyer</h2>
  <h2 class="search--location">Chennai, TamilNadu</h2>
  <div class="search--row-container">
    <p>$20k+ earned</p>
    <p>⭐4.5</p>
    <p>200 clients</p>
  </div>
  <p class="search--summary">
    I am a full-service, licensed attorney with over 20 years of experience and
    an impeccable track record of consistently and effectively resolving my
    client's legal problems. I am dedicated to effectively resolving legal
    issues that arise
  </p>
</div>
