<div class="Lawyerinfo">
  <i class="fa-light fa-user Lawyerinfo--image"></i>
  <h1 class="Lawyerinfo--name">Name</h1>
  <p class="Lawyerinfo--profession">Advocate</p>
  <p class="Lawyerinfo--rating">⭐ 4.0/5.0 (100+ clients)</p>
  <p class="Lawyerinfo--experience">14 years of Experience</p>
  <a class="Lawyerinfo--fieldchips">Criminal</a>
  <a class="Lawyerinfo--fieldchips">Divorce</a>
  <a class="Lawyerinfo--fieldchips lastchip">Family</a>
  <a class="Lawyerinfo--seemore btn btn-primary">See more</a>
</div>
