<main class="main-container">
  <div class="top-section">
    <navbar></navbar>
  </div>
  <div class="section-1 section">
    <div class="left-container">
      <h1 class="slogan">Connecting you to Trusted Legal Experts in India</h1>
      <p class="sub-heading">
        Your gateway to a simplified and efficient legal experience.
      </p>
      <a class="btn btn-primary get-started"> Get started </a>
    </div>

    <div class="right-container">
      <img src="../assets/law.svg" class="hero-img" />
    </div>
  </div>

  <div class="section-2 section">
    <h1 class="heading">
      Find the top
      <span class="sliding-text"> Lawyers </span>
    </h1>
    <form>
      <div class="search-wrapper">
        <i class="fa-light fa-magnifying-glass search-icon"></i>
        <input
          class="search-bar"
          type="text"
          placeholder="Search"
          id="myinput"
        />
      </div>
    </form>
    <div id="myDropdown" class="dropdown">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Select City
      </button>
      <ul class="dropdown-menu">
        <li>
          <input type="text" placeholder="Search.." id="input" />
          <a class="dropdown-item" href="#"> Action </a>
        </li>
        <li>
          <a class="dropdown-item" href="#"> Another action </a>
        </li>
        <li>
          <a class="dropdown-item" href="#"> Something else here </a>
        </li>
      </ul>
    </div>
    <div id="myDropdown" class="dropdown">
      <button
        class="btn btn-white dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Select Area
      </button>
      <ul class="dropdown-menu">
        <li>
          <input type="text" placeholder="Search.." id="input" />
          <a class="dropdown-item" href="#"> Action </a>
        </li>
        <li>
          <a class="dropdown-item" href="#"> Another action </a>
        </li>
        <li>
          <a class="dropdown-item" href="#"> Something else here </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="section-3 section">
    <h1 class="heading">Top rated Advocates in India</h1>
    <div class="grid-container">
      <lawyerinfo></lawyerinfo>
      <lawyerinfo></lawyerinfo>
      <lawyerinfo></lawyerinfo>
      <lawyerinfo></lawyerinfo>
      <!-- <Lawyerinfo name="Rishi Raam" star="4.6" exp="14" />
        <Lawyerinfo name="Thilakarajan" star="4.1" exp="10" />
        <Lawyerinfo name="Ram Prathap" star="4.4" exp="8" />
        <Lawyerinfo name="Sharmila" star="3.9" exp="12" /> -->
    </div>
  </div>

  <div class="section-4 section">
    <div class="left-container">
      <img src="../assets/features.svg" class="feature--img" />
    </div>
    <div class="right-container">
      <h1 class="heading feature--heading">
        Elevate Your Legal Experience, Effortlessly
      </h1>
      <i class="fa-light fa-pen-to-square feature--icon"></i>
      <h2 class="feature--subheading">No cost to join</h2>
      <p class="feature--paragraph">
        Committed to Universal Access to Quality Legal Services.
      </p>
      <i class="fa-solid fa-shield-halved feature--icon"></i>
      <h2 class="feature--subheading">Transparent and Reliable</h2>
      <p class="feature--paragraph">
        Rest assured with a transparent rating and review system.
      </p>
      <i class="fa-regular fa-user-clock feature--icon"></i>
      <h2 class="feature--subheading">Expertise Meets Convenience</h2>
      <p class="feature--paragraph">
        Effortlessly access legal expertise, anytime, anywhere.
      </p>
      <a class="btn btn-primary">Sign up for free</a>
      <a class="btn btn-white">Learn more</a>
    </div>
  </div>

    <div class="section section-5">
      <h1 class="heading">Popular IPC Sections</h1>
      <div class="grid-container--2">
        <div class="learn--card">
          <h1 class="learn--heading">
            209-Dishonestly making false claim in Court
          </h1>
          <p class="learn--content">
            According to section 209 of Indian penal code, Whoever
            fraudulently or dishonestly, or with intent to injure or annoy any
            person, makes in a Court of Justice any claim which he knows to be
            false, shall be punished with imprisonment of either description
            for a term which may extend to two years, and shall also be liable
            to fine.
          </p>
        </div>
        <div class="learn--card">
          <h1 class="learn--heading">
            209-Dishonestly making false claim in Court
          </h1>
          <p class="learn--content">
            According to section 209 of Indian penal code, Whoever
            fraudulently or dishonestly, or with intent to injure or annoy any
            person, makes in a Court of Justice any claim which he knows to be
            false, shall be punished with imprisonment of either description
            for a term which may extend to two years, and shall also be liable
            to fine.
          </p>
        </div>
        <div class="learn--card">
          <h1 class="learn--heading">192-Fabricating false evidence</h1>
          <p class="learn--content">
            Section 192 of the Indian Penal Code defines "fabricating false
            evidence" as causing false information to be present in a record
            or document with the intention that it may be used in a judicial
            or legal proceeding, leading to a wrong conclusion.
          </p>
        </div>
      </div>
      <a class="btn btn-white learn-btn">Learn more</a>
    </div>
    <div class="Footer section">
      <div class="footer--left-side">
        <p class="footer--links">© 2023 Legalix® Inc.</p>
        <p class="footer--links">Terms of Service</p>
        <p class="footer--links">Privacy Policy </p>
        <p class="footer--links">Accessibility</p>
      </div>

      <div class="footer--right-side">
        <p class="footer--links">Questions?</p>
        <a class="footer--links">Contact us</a>
      </div>
    </div>
</main>
